.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  left: 100px;
  border-radius: 5px;
  background-color: #020000;
  color:whitesmoke;
  height: 50%;
}

.title{
 text-align: center;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textSave{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.saveButton{
  height: 30px;
  width: 80px;
  border-radius: 3px;
}

.saveButton:hover{
  transform: scale(1.05);
  transition: transform 0.5s;
  background-color: indigo;
  color: white;
}

.error{
  color: red;
}
.textArea{
  width: 500px;
  height: 25px;
  margin-right: 20px;
  background-color: #020000;
  color: white;
  border-radius: 2px solid white;
  letter-spacing: 2px;
  font-weight: bold;
}

table {
  width:80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}
/* 
th {
  background-color: #f2f2f2;
} */

tr:nth-child(even) {
  background-color: #020000;
} 

#one{
  width: 80px;
}

#two{
  width: 300px;
  flex-wrap: wrap;
}

#three{
  width: 100px;
}

#four{
  width: 200px;
}

.btn{
    background-color: red; 
    border-radius: 5px;
    color: white;
    padding: 6px 16px;
    text-align: center;
    font-size: 14px;
    margin: 5px;
}



.btn:hover{
  transform: scale(1.1);
  transition: transform 0.3s;
}

.btn1:hover{
  transform: scale(1.1);
  transition: transform 0.3s;
}

.btn1{
  background-color: green ;
  border-radius: 5px;
  color: white;
  padding: 6px 16px;
  text-align: center;
  font-size: 1p4x;
  margin: 5px;
}


